<ion-view title="TimeLine">
    <ion-content padding="true" class="has-header">
        <button class="button button-stable button-icon">Tap me!</button>
        <div class="list card">
            <div class="item item-divider">Travel info</div>
            <div class="item item-body">
                <a href="#/travelmates" class="button button-stable button-block">Tap me!</a>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Stay</div>
            <div class="item item-body">
                <a href="#/travelmates" class="button button-stable button-block">Tap me!</a>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Activity</div>
            <div class="item item-body">
                <a href="#/travelmates" class="button button-stable button-block">Tap me!</a>
            </div>
        </div>
    </ion-content>
</ion-view>
